@media (min-width: 1024px) {
    .menu {
        display: none;
    }
}

@media (max-width: 1023px) {

}

@media (min-width: 740px) and (max-width: 1023px) {
    .menu {
        display: none;
    }
}


/* Responsive for Mobile */
@media (max-width: 740px) {
    #header {
        overflow: hidden;
    }

    .mainnav > li:first-child {
        display: inline-block;
    }

    .mainnav {
        display: block;
    }
    
    .nav li {
        display: block;
    }

    .search {
        display: none;
    }

    .subnav {
        position: unset;
        background-color: rgb(32, 32, 32);
    }

    .subnav a {
        color: #fff;
        padding: 0 56px 47px 36px !important;
    }
    
    /* Responsive content */
    .the-band-member {
        margin-top: 32px;
    }

    .member {
        width: 100%;
    }

    .member-name {
        margin: 30px 0 15px;
    }

    .member-img {
        width: 60%;
    }

    .place,
    .first-half, .second-half,
    .contact-information, .contact-input {
        width: 100%;
    }

    .all-contact {
        padding-top: 16px;
    }

    .left-contact {
        margin: 0;
        padding: 11px 0;
    }

    .first-half, .second-half {
        margin: 4px 0 0;
    }

    .send {
        margin: 16px 0 0;
    }

    .button {
        width: 100%;
    }

    .modal-grandparents {
        max-width: 95%;
    }

    .social-icon {
        font-size: 28px;
    }

    .footer-icon {
        padding:4px;
    }

    .w3css {
        padding: 10px 0;
    }
}
